/**
 * @Author: yuanmanxue
 * @Date:   2018-02-06 08:56:59
 * @Last modified by:   yuanmanxue
 * @Last modified time: 2018-02-09 05:18:48
 */
.am-tab-bar-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
}
